{% extends 'super_admin/include/main.html.twig' %}


{#{% titre de l'activite %}#}
{% block title_job %}
	<h1 class="card-title">{{ titre }}</h1>
{% endblock %}

{# {% operation possible %}#}
{% block option %}{% endblock %}

{# {% les donnees affichees %}#}
{% block data %}


	<div class="row">
		<div class="col-md-12">

			<div class="card card-body d-flex align-items-start">

				<b>Super Admin</b>

			</div>
		</div>


		<div class="col-md-12">

			<div class="card card-body d-flex align-items-end">

				<b>{{getTitle1()}}</b>
				<b>
					{{getTitle2()}}</b>
			</div>
		</div>


		<div class="col-md-4">
			<div class="card">
				<div class="card-body">
					<h3 class="card-title">Inspecteurs</h3>
					<div class="col d-flex justify-content-between align-items-center">
						<h3 class="card-text">{{ users|length }}</h3>
						<p class="card-text ml-2">
							<i class="fas fa-user fa-4x"></i>
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="card">
				<div class="card-body">
					<h3 class="card-title">Collèges</h3>
					<div class="col d-flex justify-content-between align-items-center">
						<h3 class="card-text">{{ colleges|length }}</h3>
						<p class="card-text ml-2">
							<i class="fas fa-archive fa-4x"></i>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<div class="card-body">
					<h3 class="card-title">Rapports</h3>
					<div class="col d-flex justify-content-between align-items-center">
						<h3 class="card-text">{{ rapports|length }}</h3>
						<p class="card-text ml-2">
							<i class="fas fa-file fa-4x"></i>
						</p>
					</div>
				</div>
			</div>
		</div>


		<div class="col-md-4">
			<div class="card">
				<div class="card-body">
					<h3 class="card-title">Rapports En Attente</h3>
					<div class="col d-flex justify-content-between align-items-center">
						<h3 class="card-text">{{ rapports_en_attente|length }}</h3>


						<p class="card-text ml-2">
							<i class="fas fa-file fa-4x"></i>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<div class="card-body">
					<h3 class="card-title">Rapports Valider</h3>
					<div class="col d-flex justify-content-between align-items-center">
						<h3 class="card-text">{{ rapports_valider|length }}</h3>


						<p class="card-text ml-2">
							<i class="fas fa-file fa-4x"></i>
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="card">
				<div class="card-body">
					<h3 class="card-title">Rapports Non Valider</h3>
					<div class="col d-flex justify-content-between align-items-center">
						<h3 class="card-text">{{ rapports_non_valider|length }}</h3>


						<p class="card-text ml-2">
							<i class="fas fa-file fa-4x"></i>
						</p>
					</div>
				</div>
			</div>
		</div>


	</div>
	<div class="card">
		<div class="d-flex justify-content-between">
			<div>
				<h3>
					Repartition des rapports selon les collèges</h3>

			</div>
			<button id="exportButton" class="btn btn-outline-info" onclick="exportChart()">Exporter le Graphe</button>


		</div>


		<div class="chart">
			<canvas id="barChart" style="min-height: 450px; height: 500px; max-height: 250px; width: 100%;"></canvas>
		</div>

	</div>
	<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

	<script>

		// JavaScript code for creating a bar chart
document.addEventListener('DOMContentLoaded', function () {
var ctx = document.getElementById('barChart').getContext('2d');
var barChart = new Chart(ctx, {
type: 'bar',
data: {{ chart.getData() | json_encode | raw }},
options: {{ chart.getOptions() | json_encode | raw }}
});
});
function exportChart() {
var canvas = document.getElementById('barChart');
var dataURL = canvas.toDataURL('image/png');
var link = document.createElement('a');
link.href = dataURL;
link.download = 'repatition_des_rapports_dans_les_colleges.png';
link.click();
}
	</script>


{% endblock %}
