{% extends 'admin/include/main.html.twig' %}


{#{% titre de l'activite %}#}
{% block title_job %}
	<h1 class="card-title">
		{{ titre }}
	</h1>
{% endblock %}

{# {% operation possible %}#}
{% block option %}
	<a href=" {{ path('admin_college_nouveau') }}" class="m-1 btn btn-info float-right btn-sm" role="button">
		<i class="m-1 fa fa-plus" aria-hidden="true"></i>Ajouter</a>
{% endblock %}

{# {% les donnees affichees %}#}
{% block data %}


	<div class="row">
		<div class="col-12">
			<div class="card card-margin">
				<div class="card-body">
					<div class="row search-body">
						<div class="col-lg-12">
							<div class="search-result">

								<div class="result-body">
									<div class="table-responsive">
										<table class="table widget-26" id="sampleTable">
											<thead>
												<tr>

													<th>Nom</th>
													<th>Description</th>
													<th>Nbre Rapport</th>
													<th>actions</th>

												</tr>
											</thead>
											<tbody>

												{% for college in colleges %}
													<tr>
														<td>
															<div class="widget-26-job-title">
																<span>{{college.nom}}</span>
															</div>
														</td>
														<td>{{ college.description }}</td>
														<td>
															<a href="{{ path('admin_college_rapport', { 'id' : college.id } ) }}" class="btn btn-outline-dark " type="button">
																<i class="fa fa-list" aria-hidden="true"></i>
																{{ college.SizeRapport () }}</a>
														</td>


														<td>
															<div class="widget-26-job-starred btn-group">
																<a href="{{ path('admin_college_show', { 'id' : college.id } ) }}" class="m-1 btn btn-outline-dark " type="button">
																	<i class="m-1 fa fa-eye" aria-hidden="true"></i>Détails
																</a>

																<a href="{{ path('admin_college_edit', { 'id' : college.id } ) }}" class="m-1 btn btn-outline-info" type="button">
																	<i class="m-1 fa fa-edit" aria-hidden="true"></i>Editer
																</a>

															</div>
														</td>
													</tr>


												{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
