{# <li class="nav-item">
    <a href="{{ path('admin_college_liste') }}" class="nav-link">
        <i class="nav-icon fas fa-search"></i>
        <p>Recherche</p>
    </a>
</li> #}


<li class="nav-item">
	<a href="{{ path('super_admin_college_liste') }}" class="nav-link">

		<i class="nav-icon fas fa-duotone fa-folder"></i>

		<p>Gestion des Collèges</p>
	</a>
</li>


<li class="nav-item">
	<a href="{{ path('super_admin_rapport_liste') }}" class="nav-link">
		<i class="nav-icon fas fa-edit"></i>
		<p>Gestion des Rapports</p>
	</a>
</li>


<li class="nav-item">
	<a href="{{ path('super_admin_user_index') }}" class="nav-link">

		<i class="nav-icon fas fa-users"></i>
		<p>Gestion des Inspecteurs</p>
	</a>
</li>

<li class="nav-item">
	<a href="{{ path('super_admin_configuration_index') }}" class="nav-link">
		<i class="nav-icon fas fa-cog"></i>
		<p>Parametrages</p>
	</a>
</li>

<li class="nav-item">
	<a href="{{ path('super_admin_fichier_word') }}" class="nav-link">
		<i class="nav-icon fas fa-file-word" aria-hidden="true"></i>


		<p>Fichiers Words</p>
	</a>
</li>
<li class="nav-item">
	<a href="{{ path('super_admin_fichier_pdf') }}" class="nav-link">
		<i class="nav-icon fas fa-file-pdf"></i>
		<p>Fichiers PDF</p>
	</a>
</li>


<li class="nav-item">
	<a href="{{ path('super_admin_profil') }}" class="nav-link">
		<i class="nav-icon fas fa-user"></i>
		<p>Profil</p>
	</a>
</li>

{# <li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-copy"></i>
        <p>
            gestion des livres
            <i class="fas fa-angle-left right"></i>

        </p>
    </a>
    <ul class="nav nav-treeview">

        <li class="nav-item">
            <a href="{{ path('admin_livres_ajout') }}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>ajout </p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('admin_livres_liste') }}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>liste</p>
            </a>
        </li>
    </ul>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-chart-pie"></i>
        <p>
            gestion des emprunts
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href=" {{ path('admin_emprunts_nouveau') }} " class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>ajout </p>
            </a>
        </li>
        <li class="nav-item">
            <a href=" {{ path('admin_emprunts_liste') }} " class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>liste</p>
            </a>
        </li>

    </ul>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-chart-pie"></i>
        <p>
            gestion des etudiants
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="{{ path('admin_etudiants_ajout') }}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>ajout</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('admin_etudiants_liste') }}" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>liste</p>
            </a>
        </li>

    </ul>
</li> #}
