{# <li class="nav-item">
	<a href="#" class="nav-link">
		<i class="nav-icon fas fa-copy"></i>
		<p>
			gestion des collèges
			<i class="fas fa-angle-left right"></i>

		</p>
	</a>
	<ul class="nav nav-treeview">
		<li class="nav-item">
			<a href="{{ path('client_college_liste') }}" class="nav-link">
				<i class="far fa-circle nav-icon"></i>
				<p>liste
				</p>
			</a>
		</li>


	</ul>
</li> #}

<li class="nav-item">
	<a href="{{ path('client_college_liste') }}" class="nav-link">

		<i class="nav-icon fas fa-file"></i>
		<p>Gestion des Collèges</p>
	</a>
</li>


<li class="nav-item">
	<a href="{{ path('client_rapport_liste') }}" class="nav-link">
		<i class="nav-icon fas fa-edit"></i>
		<p>Gestion des Rapports</p>
	</a>
</li>


{# <li class="nav-item">
	<a href="#" class="nav-link">
		<i class="nav-icon fas fa-copy"></i>
		<p>
			gestion des rapports
			<i class="fas fa-angle-left right"></i>
		</p>
	</a>
	<ul class="nav nav-treeview">
		<li class="nav-item">
			<a href="{{ path('client_rapport_nouveau') }}" class="nav-link">
				<i class="far fa-circle nav-icon"></i>
				<p>ajouter
				</p>
			</a>
		</li>
		<li class="nav-item">
			<a href="{{ path('client_rapport_liste') }}" class="nav-link">
				<i class="far fa-circle nav-icon"></i>
				<p>Liste
				</p>
			</a>
		</li>

	</ul>
</li> #}


<li class="nav-item">
	<a href="{{ path('client_profil') }}" class="nav-link">
		<i class="nav-icon fas fa-user"></i>
		<p>Profil</p>
	</a>
</li>
