{% extends 'client/include/main.html.twig' %}


{#{% titre de l'activite %}#}
{% block title_job %}
	<h1 class="card-title">
		{{ titre }}
	</h1>
{% endblock %}

{# {% operation possible %}#}
{% block option %}
	<a class="m-1 btn btn-outline-info float-right ml-1 btn-sm" href="{{ path('client_rapport_liste') }}">
		<i class="m-1 fa fa-list"></i>
		Liste</a>
	{# <a href=" {{ path('client_rapport_nouveau') }}" class=" btn btn-info float-right btn-sm" role="button">
									<i class="fa fa-plus" aria-hidden="true"></i>
									nouveau rapport
								</a> #}
{% endblock %}

{# {% les donnees affichees %}#}
{% block data %}


	<div class="row">
		<div class="col-12">
			<div class="card card-margin">
				<div class="card-body">
					<div class="row search-body">
						<div class="col-lg-12">
							<div class="search-result">
								<div class="text-center">
									<h3>
										Collège =>
										<b>
											{{ college.nom }}</b>
									</h3>

								</div>

								<div class="result-body">


									{{ include('admin/rapport/_form.html.twig', {'button_label': 'Update'}) }}


									{# {{ include('admin/rapport/_delete_form.html.twig') }} #}
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
