{% extends 'client/include/main.html.twig' %}


{#{% titre de l'activite %}#}
{% block title_job %}
	<h1 class="card-title">
		{{ titre }}
		/
																																																																																																																																																																				College :
		<b>
			{{ college ? college.nom: 'Aucun College attribué'}}
		</b>

	</h1>
{% endblock %}

{# {% operation possible %}#}
{% block option %}
	<a href=" {{ path('client_rapport_nouveau') }}" class="m-1 btn btn-info float-right btn-sm" role="button">
		<i class="m-1 fa fa-plus" aria-hidden="true"></i>
		Ajouter</a>
{% endblock %}

{# {% les donnees affichees %}#}
{% block data %}

	<style>

		.centered-modal {
			display: flex;
			/* justify-content: center; */
			/* align-items: center; */
			height: 90vh;
			width: 95vh;
			max-width: 100vh;
			margin-top: 5%;
			margin-bottom: 5%
		}

		/* .modal-dialog {
			max-width: 80%;
		} */

		.modal-body {
			max-height: 70vh;
			overflow-y: auto;
		}
	</style>


	<div class="row">
		<div class="col-12">
			<div class="card card-margin">
				<div class="card-body">
					<div class="row search-body">
						<div class="col-lg-12">
							<div class="search-result">

								<div class="result-body">
									<div class="table-responsive">
										<table id="example1" class="table table-bordered table-striped">

											<thead>
												<tr>
													<th>Activite</th>
													<th>Description</th>
													<th>Resultat</th>
													<th>Fichier</th>
													<th>Inspecteur</th>
													<th>Date</th>
													<th>État</th>
													<th>Actions</th>

												</tr>
											</thead>
											<tbody>

												{% for rapport in rapports %}
													<tr>
														<td>

															<a type="button" class="btn btn-sm" data-toggle="modal" data-target="#model--{{rapport.id}}">
																{{rapport.activite |slice(0, 50)}}....
															</a>


															<div class="modal fade " id="model--{{rapport.id}}" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">

																<div class="modal-dialog" role="document">
																	<div class="modal-content centered-modal">

																		<div class="modal-header">
																			<h5 class="modal-title">Détails rapport</h5>
																			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																				<span aria-hidden="true">&times;</span>
																			</button>
																		</div>
																		<div class="modal-body">
																			<div class="container-fluid">
																				<div class="row">
																					<div class="col-md-6">
																						<b>
																							Collège
																						</b>
																						:

																						{{rapport.college.nom}}
																					</div>

																					<div class="col-md-6">
																						<b>
																							Date
																						</b>
																						:

																						{{ rapport.createdAt|date('Y-m-d H:i') }}</div>

																				</div>

																				<div>
																					<h2>Activité</h2>

																					<p>
																						{{rapport.activite}}</p>

																				</div>
																				<div>
																					<h2>Description</h2>

																					<p>
																						{{rapport.description}}</p>

																				</div>
																				<div>
																					<h2>Resultat</h2>

																					<p>
																						{{rapport.resultat}}</p>
																					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Saepe quibusdam dolore quisquam deserunt, et earum maiores placeat! Odio aliquid quaerat quod fugit pariatur nobis, illum tenetur, nisi voluptates distinctio quae.

																				</div>


																			</div>
																		</div>
																		<div class="modal-footer  d-flex align-items-end ">

																			<button type="button" class="btn btn-secondary  float-right " data-dismiss="modal">Fermer</button>

																		</div>
																	</div>
																</div>
															</div>


														</td>
														<td>

															<a type="button" class="btn btn-sm" data-toggle="modal" data-target="#model--{{rapport.id}}">
																{{rapport.description |slice(0, 50)}}....
															</a>

														</td>

														<td>

															<a type="button" class="btn btn-sm" data-toggle="modal" data-target="#model--{{rapport.id}}">
																{{ rapport.resultat |slice(0, 50)}}....
															</a>


														</td>
														<td>
															{% if rapport.fichier|length > 0 %}
																<a class="btn btn-link" href="{{ path('client_rapport_fichier', {'id': rapport.id } ) }}">{{ rapport.fichier|length  }}</a>
															{% else %}
																<a class="btn btn-link ">{{ rapport.fichier|length  }}</a>

															{% endif %}

														</td>
														<td>
															{% if app.user.id != rapport.user.id %}
																{{ rapport.user.firstName~' '~ rapport.user.lastName }}
															{% else %}
																Moi même
															{% endif %}


														</td>

														<td>
															{{ rapport.createdAt|date('Y-m-d H:i') }}
														</td>

														<td>

															{% set color = (rapport.statut == "VALIDER" ) ? 'success' :  (rapport.statut == "EN ATTENTE" ? 'warning': 'danger') %}
															{% set icon = (rapport.statut == "VALIDER" ) ? 'check-circle' :  (rapport.statut == "EN ATTENTE" ? 'check': 'thumbs-down') %}


															{% if rapport.statut == "NON VALIDER" %}
																<a class="m-1 btn btn-outline-danger" data-toggle="modal" data-target="#modelC--{{rapport.id}}">
																	<i class="fa fa-solid fa-{{ icon }}"></i>
																	{{ rapport.statut }}
																</a>
																<!-- Modal -->
																<div class="modal fade" id="modelC--{{rapport.id}}" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">

																	<div class="modal-dialog" role="document">
																		<div class="modal-content">


																			<div class="modal-header">
																				<h5 class="modal-title">Raison de la non validation</h5>
																				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
																					<span aria-hidden="true">&times;</span>
																				</button>
																			</div>
																			<div class="modal-body">
																				<div class="container-fluid">
																					<p class="">{{rapport.comment}}</p>
																				</div>
																			</div>
																			<div class="modal-footer">

																				<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>

																			</div>


																		</div>
																	</div>
																</div>

															{% else %}
																<span class="text-{{ color }}  ">

																	{{ rapport.statut }}
																</span>

															{% endif %}


														</td>
														<td>

															<div class=" btn-group p-1 ">
																<a href="{{ path('client_rapport_show',{'id': rapport.id }) }}" class="m-1 btn btn-outline-info " type="button">
																	<i class="m-1 fa fa-eye" aria-hidden="true"></i>

																</a>

																{% if app.user.id == rapport.user.id %}


																	<a href="{{ path('client_rapport_edit',{'id': rapport.id }) }}" class="m-1 btn btn-outline-dark " type="button">
																		<i class="m-1 fa fa-edit" aria-hidden="true"></i>

																	</a>

																{% endif %}


															</div>
														</td>
													</tr>


												{% endfor %}
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<script>
		$('#exampleModal').on('show.bs.modal', event => {
var button = $(event.relatedTarget);
var modal = $(this);
// Use above variables to manipulate the DOM

});
	</script>

{% endblock %}
