{% extends 'base.html.twig' %}

{% block title %}College index
{% endblock %}

{% block body %}
	<h1>Collège index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Description</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for college in colleges %}
				<tr>
					<td>{{ college.id }}</td>
					<td>{{ college.nom }}</td>
					<td>{{ college.description }}</td>
					<td>
						<a href="{{ path('app_college_show', {'id': college.id}) }}">show</a>
						<a href="{{ path('app_college_edit', {'id': college.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_college_new') }}">Create new</a>
{% endblock %}
