{% extends 'admin/include/main.html.twig' %}


{#{% titre de l'activite %}#}
{% block title_job %}
	<h1 class="card-title">{{ titre }}</h1>
{% endblock %}

{# {% operation possible %}#}
{% block option %}{% endblock %}

{# {% les donnees affichees %}#}
{% block data %}


	<div class="row">
		<div class="col-md-12">
			<div class="card">
				<div class="card-body">
					<h2>Bienvenue
						{{ app.user.email }}</h2>
					<h3 class="card-title">Matricule :
						{{app.user.matricule }}
					</h3>

				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="card">
				<div class="card-body">
					<h3 class="card-title">Inspecteurs</h3>
					<div class="col d-flex justify-content-between align-items-center">
						<h3 class="card-text">{{ users|length }}</h3>
						<p class="card-text ml-2">
							<i class="fas fa-user fa-4x"></i>
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="card">
				<div class="card-body">
					<h3 class="card-title">Collèges</h3>
					<div class="col d-flex justify-content-between align-items-center">
						<h3 class="card-text">{{ colleges|length }}</h3>
						<p class="card-text ml-2">
							<i class="fas fa-archive fa-4x"></i>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<div class="card-body">
					<h3 class="card-title">Rapports</h3>
					<div class="col d-flex justify-content-between align-items-center">
						<h3 class="card-text">{{ rapports|length }}</h3>
						<p class="card-text ml-2">
							<i class="fas fa-file fa-4x"></i>
						</p>
					</div>
				</div>
			</div>
		</div>


		<div class="col-md-4">
			<div class="card">
				<div class="card-body">
					<h3 class="card-title">Rapports En Attente</h3>
					<div class="col d-flex justify-content-between align-items-center">
						<h3 class="card-text">{{ rapports_en_attente|length }}</h3>


						<p class="card-text ml-2">
							<i class="fas fa-file fa-4x"></i>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4">
			<div class="card">
				<div class="card-body">
					<h3 class="card-title">Rapports Valider</h3>
					<div class="col d-flex justify-content-between align-items-center">
						<h3 class="card-text">{{ rapports_valider|length }}</h3>


						<p class="card-text ml-2">
							<i class="fas fa-file fa-4x"></i>
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-4">
			<div class="card">
				<div class="card-body">
					<h3 class="card-title">Rapports Non Valider</h3>
					<div class="col d-flex justify-content-between align-items-center">
						<h3 class="card-text">{{ rapports_non_valider|length }}</h3>


						<p class="card-text ml-2">
							<i class="fas fa-file fa-4x"></i>
						</p>
					</div>
				</div>
			</div>
		</div>


	</div>


{% endblock %}
