{% extends 'base.html.twig' %}

{% block title %}Liste des rapports
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<style>
		.example-wrapper {
			width: 100%;
		}

		table {
			width: 100%;
			border-collapse: collapse;
			overflow-x: auto;
		}

		th,
		td {
			word-wrap: break-word;
			white-space: pre-line;

			border: 1px solid black;
			padding: 8px;
			text-align: left;
			overflow: hidden;
			text-overflow: ellipsis; /* Display ellipsis (...) for overflowed text */
		}


		th {
			background-color: #f2f2f2;
		}

		td:nth-child(3),
		td:nth-child(4),
		td:nth-child(5) {
			word-wrap: break-word;

			max-width: 200px; /* Adjust the width as needed */
			overflow: hidden;
			text-overflow: ellipsis;
		}
	</style>
{% endblock %}

{% block body %}
	<div class="example-wrapper">
		<h1>Liste des Rapports d'activités</h1>

		<div class="table-responsive">
			<table>
				<thead>
					<tr>
						<th>Inspecteur</th>
						<th>Collége</th>
						<th>Activité</th>
						<th>Description</th>
						<th>Résultats</th>
						<th>Statut</th>
						<th>Date Création</th>

					</tr>
				</thead>
				<tbody>
					{% for r in rapports %}
						<tr>
							<td>{{ r.user.firstName ~' '~ r.user.lastName}}</td>
							<td>{{ r.college.nom }}</td>

							<td>{{ r.activite }}
								<br>
							</td>
							<td>{{ r.description }}

							</td>
							<td>{{ r.resultat }}
							</td>

							<td>
								{{ r.statut }}
							</td>
							<td>{{ r.createdAt|date('Y-m-d H:i') }}</td>


						</tr>
					{% endfor %}
				</tbody>
			</table>


		</div>


	</div>
{% endblock %}
