{% extends 'client/include/main.html.twig' %}


{#{% titre de l'activite %}#}
{% block title_job %}
	<h1 class="card-title">
		{{ titre }}
	</h1>
{% endblock %}

{# {% operation possible %}#}
{% block option %}
	{# <a href=" {{ path('app_rapport_new') }}" class=" btn btn-info float-right btn-sm" role="button">
																																																													  <i class="fa fa-plus" aria-hidden="true"></i> nouveau college</a> #}
{% endblock %}

{# {% les donnees affichees %}#}
{% block data %}


	<div class="row">
		<div class="col-12">
			<div class="card card-margin">
				<div class="card-body">
					<div class="table-responsive">

						<table id="example1" class="table table-bordered table-striped">
							<thead>
								<tr>
									<th>Nom</th>
									<th>Description</th>
									<th>Rapport</th>
								</tr>
							</thead>
							<tbody>
								{% for college in colleges %}

									<tr>
										<td>
											<span>{{college.nom}}</span>
										</td>

										<td>{{ college.description }}</td>

										<td>
											{% if app.user.roles[0] == "ROLE_USER" %}


												<a href="{{ path('client_college_rapport_nouveau', { 'id' : college.id } ) }}" class="btn btn-outline-info" type="button">
													<i class="m-1 fa fa-plus" aria-hidden="true"></i>Ajouter

												</a>

											{% endif %}
										</td>


									</tr>
								{% endfor %}

							</tbody>
						</tbody>
					</table>

				</div>

			</div>
		</div>
	</div>

</div>{% endblock %}
